#venueContainer {
    position: relative;
    top: 100px;
    z-index: 50;
    height: fit-content;
    margin-bottom: 20px;
    padding: 20px;
    width: fit-content;
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(22, 22, 24, 0.6);
    border-radius: 15px;
    left: 10.3%;
}

#venueContainer:hover {
    color: rgb(73, 16, 16);
    transition: .5s;
}


.venue-title {
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.venue-list {
    list-style-type: none;
}

#img-navlink {
    display: inline-flex;
    list-style-type: none;
    padding: 4px;
}

#img-navlink:hover {
    color: rgb(73, 16, 16);
    transition: .5s;
}
