.venue-id {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    top: 30%;
    left: 31%;
    width: 37%;
    height: 45%;
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(22, 22, 24, 0.6);
    color: black;
    z-index: 120;

}

.venue-image {
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
}
