.reviewForm {
    position: relative;
    max-width: 20%;
    max-height: 710px;
}

.review-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    top: 30%;
    left: 34%;
    width: 34%;
    height: 45%;
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(22, 22, 24, 0.6);
    color: black;
    z-index: 120;
}
