/* TODO Add site wide styles */

body {
    background-color: black;
}

img {
    position: relative;
    max-width: 85%;
    max-height: 90%;
    top: 50px;
    left: 100px;
    border-radius: 2%;
}
