/* TODO Add site wide styles */

body {
    background-color: black;
}

#stageImg {
    position: relative;
    max-width: 85%;
    max-height: 90%;
    top: 130px;
    left: 140px;
    border-radius: 1.5%;
}
