.reservation {
    position: fixed;
    top: 120px;
    left: .1%;
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
    color: white;
    padding-left: 10px;
}

.navlink {
    color: white;
    padding: 3px;

}

#reservation-li:hover {
    color: rgb(73, 16, 16);
    transition: .5s;
}
