.navBar {
    position: relative;
    z-index: 100;
    list-style-type: none;
    display: flex;
}

#homeLink {
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    left: 15%;
    padding: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

#homeLink:hover {
    color: rgb(73, 16, 16);
    transition: .5s;
}

#homeSignup {
    position: fixed;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;
    padding-right: 20px;
    left: 81%;
}

#homeLogin {
    position: fixed;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;
    left: 75%;
}

#homeLogin:hover,
#homeSignup:hover {
    color: rgb(73, 16, 16);
    transition: .5s;
}

.loginSignup {
    background-color: black;
    border-radius: 20px;
    padding: 20px;
}

#musicIcon {
    position: relative;
    left: 3%;
    height: 80px;
    width: 90px;
}

.navLoginSignup {
    position: absolute;
    display: flex;
    top: 65px;
}
